snippet log "Log Entry"
### `date +%d.%m.%y`

endsnippet

snippet kw "Kalenderwoche für Log"
## KW `date +%V`

endsnippet

snippet bug "Redmine link"
[Issue #${1:12345}](https://redmine.berlin.jpk.com/issues/$1)$0
endsnippet
